
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.body {
  padding-top: 80px; 
  text-align: center;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: #1f2933;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
h1 {
  margin: 20px 0;
  color: #1f2933;
}
p {
  width: 60%;
  margin: auto;
  color: #a18383;
}
form {
  margin: 20px 0;
}
input {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: orange;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darkorange;
}
#meals-show {
  display: flex;             
  flex-wrap: wrap;            
  justify-content: center;   
  gap: 20px;               
  padding: 30px;
}
.card {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
 
}
.card:hover {
  transform: translateY(-5px);
}
.meal-img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.card h2 {
  margin: 10px 0;
  color: #333;
}
.card ul {
  list-style: none;
  padding: 0;
}

.card a {
  display:flex;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 8px 12px;
  border-radius: 5px;
}
